@import "variables";

@mixin placeholderDarkenColor($color, $value) {
  &::-webkit-input-placeholder {color: darken($color, $value);}
  &::-moz-placeholder          {color: darken($color, $value);}/* Firefox 19+ */
  &:-moz-placeholder           {color: darken($color, $value);}/* Firefox 18- */
  &:-ms-input-placeholder      {color: darken($color, $value);}
}

//workaround for dropdown placeholder!!!!
@mixin __placeholderDarkenColorDropdown($color, $value) {
  color: darken($color, $value) !important;
}

//base paddings and fonts for input and dropdowns
@mixin bigInputBlock {
  font-size: 15px !important;
  text-align: left !important;
  line-height: 1.2142em !important;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

@mixin bigInputSize {
  @include bigInputBlock;
  min-height: 38px !important;
  max-height: 38px !important;
  border-radius: $borderradius !important;
  border: solid 1px $textcolor2 !important;
  color: darken($textcolor2, 30%) !important;
  &:hover, &:focus, &:active, &:focus:active {
    border-color: darken($textcolor2, 30%) !important;
    color: darken($textcolor2, 30%) !important;
    @include placeholderDarkenColor($textcolor2, 20%)
  }
}

