//simple color variables
$teal: #4ecbc4;
$white: #ffffff;
$darkgrey: #333;
$lightgrey: #cccccc;
$red: #ff7485;
$transparent: transparent;



//theme variables
$primarycolor1: $teal;
$secondarycolor1: $white;
$secondarycolor2: $red;
$opacitycolor1: $transparent;
$textcolor1: $darkgrey;
$textcolor2: $lightgrey;
$errorcolor: $red;

//standart border-radius
$borderradius: 5px;