@import "./../variables";
@import "./../mixins";

div.ui.buttons {
  min-height: 38px !important;
  max-height: 55px !important;
  & button {
    padding-right: 5px;
    padding-left: 5px;
    width: 50.5% !important;
    border-radius: 0px !important;
    &:first-child {
      border-radius: $borderradius 0 0 $borderradius !important;
    }
    &:last-child{
      border-radius: 0 $borderradius $borderradius 0 !important;
    }
   }
}