@import "./../variables";

button.ui.medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  font-size: 14px !important;
  max-height: 55px !important;
  padding: 12px 35px;
  border-radius: $borderradius !important;
  text-decoration: none;
  white-space: normal;
  text-transform: uppercase;

  //if button has no color - add .button class!!!
  &.button.fluid {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  &.button.basic {
    color: $textcolor1!important;
    border: 1px solid $secondarycolor1 !important;
    background: $secondarycolor1!important;
    box-shadow: none !important;

    &:hover, &:focus, &:active, &.active {
      background: $secondarycolor1!important;
      box-shadow: none !important;
      &, & a {
        color: $primarycolor1 !important;
      }
    }
  }

  &.button.white {
    color: $textcolor1!important;
    border: 1px solid $secondarycolor1 !important;
    background: $secondarycolor1!important;
    box-shadow: none !important;

    &:hover, &:focus, &:active, &.active {
      box-shadow: none !important;
      &, & a {
        color: $darkgrey !important;
      }

    }
  }

  &.grey.basic {
    color: darken($textcolor2, 20%)!important;
    border: 1px solid $textcolor2 !important;
    background: $transparent!important;;
    box-shadow: none !important;

    &:hover, &:focus, &:active, &.active {
      background: $primarycolor1!important;
      box-shadow: none !important;
      &, & a {
        color: $textcolor1 !important;
      }
    }
  }

  &.teal {
    color: $textcolor1!important;
    border: 1px solid $primarycolor1;  background: $transparent!important;
    background: $primarycolor1!important;

    &:hover, &:focus, &:active, &.active {
      box-shadow: none !important;
      background: $transparent!important;
      &, & a {
        color: $primarycolor1 !important;
      }
    }

    &.basic {
      color: $primarycolor1!important;
      border: 1px solid $primarycolor1 !important;
      background: $transparent!important;;

      &:hover, &:focus, &:active, &.active {
        background: $primarycolor1!important;
        box-shadow: none !important;
        &, & a {
          color: $textcolor1 !important;
        }
      }
    }
  }

  &.dark {
    color: $textcolor1!important;
    border: 1px solid $primarycolor1;  background: $transparent!important;
    background: $primarycolor1!important;

    &:hover, &:focus, &:active, &.active {
      box-shadow: none !important;
      background: $transparent!important;
      &, & a {
        color: $primarycolor1 !important;
      }
    }
    & a {
      color: $textcolor1 !important;
    }

    &:hover, &:focus, &:active, &.active {
      & a {
        color: $primarycolor1 !important;
      }
    }
  }

  &.disabled {
    filter: grayscale(70%) !important;
    opacity: 0.6 !important;
  }
}