@import "./../variables";
@import "./../mixins";
@import "./buttongroups";

div.viva-calendar {
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
  font-size: 14px !important;
  max-height: 39px !important;
  text-decoration: none;
  white-space: normal;
  text-transform: uppercase;

  padding-right: 5px !important;
  padding-left: 5px !important;
  border-radius: 0 !important;
  &:first-child {
    border-radius: $borderradius 0 0 $borderradius !important;
  }
  &:last-child {
    border-radius: 0 $borderradius $borderradius 0 !important;
  }

  &.ui.teal.medium.basic.button {
    border: 1px solid $primarycolor1 !important;
    background: $secondarycolor1!important;
    box-shadow: none !important;
    & div.ui.calendar-button {
      color: $primarycolor1 !important;
    }

    &:hover, &:focus, &:active, &.active {
      background: $primarycolor1!important;
      box-shadow: none !important;
      & div.ui.calendar-button {
        color: $textcolor1 !important;
      }
    }
  }

  //restyling jquery calendar todo: сделать календарь без jQuery и изменить стили ниже
  & div.ui.popup.calendar:before {
    display: none;
  }

  & div.ui.popup.calendar table {
    box-shadow: 0 2px 2px 0 rgba(80,227,194,0.20), 0 4px 4px 0 rgba(80,227,194,0.20), 0 8px 8px 0 rgba(80,227,194,0.20), 0 16px 16px 0 rgba(80,227,194,0.20), 0 32px 32px 0 rgba(80,227,194,0.20) !important;
    background: lighten(desaturate($primarycolor1, 15%), 25%);
    border: solid 1px darken($primarycolor1, 5%) !important;
    border-radius: 5px !important;
    color: darken($textcolor1, 20%) !important;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto', sans-serif !important;
    & thead tr {
      & th {
        font-weight: 300;
      }
    }
    & tbody tr {
      & td {
        border: solid 1px darken($primarycolor1, 5%) !important;
        border-right: $transparent !important;
        border-top: $transparent !important;
        &:first-child {
          border: $transparent !important;
          border-bottom: solid 1px darken($primarycolor1, 5%) !important;
        }
        &:hover, &:active, &:focus, &:focus:active, &:active:focus, &.today {
          background: lighten(desaturate($secondarycolor2, 10%), 10%);
          color: $secondarycolor1;
          font-weight: 300;
        }
      }
    }
  }

}

.focus {
  outline-color: $transparent !important;
}