@import "./../variables";
@import "./../mixins";

.ui.selection.dropdown {
  border: none;
  //for dropdown
  &[role="listbox"] {
    @include bigInputSize;
    & div.text, & svg {
      transform: translateY(-2px) !important;
    }
  }
  //for autocomplete
  & input.search {
    @include bigInputSize
  }
  //inner text that user choose from list
  & div.text {
    color: darken($textcolor2, 30%) !important;
    font-size: 15px !important;
    text-align: left !important;
    line-height: 1.2142em !important;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    margin: -1px 1px 0px 0px !important;
    &.default {
      color: $textcolor2 !important;
      z-index: 1 !important;
    }
  }
  //dropdown/autocomplete items list
  & div.menu.transition {
    border-radius: $borderradius !important;
    box-shadow: 0 15px 25px 0 rgba(204, 204, 204, 0.5) !important;
    border: solid 1px $primarycolor1 !important;
    & div[role="option"] {
      @include bigInputBlock;
      padding-left: 15px !important;
      background-color: $secondarycolor1 !important;
      border: none !important;
      &:hover, &.active {
        color: $secondarycolor1;
        background: lighten(desaturate($primarycolor1, 15%), 10%) !important;
        border: none !important;
        font-weight: 300 !important;
      }
    }
  }

  &:hover {
    & div.text.default {
      @include __placeholderDarkenColorDropdown($textcolor2, 20%);
    }
  }
}