@import "./../variables";
@import "./../mixins";

.ui.input {
  & input {
    @include bigInputSize
  }
  &.error input {
    border: solid 1px $errorcolor !important;
    color: darken($errorcolor, 20%) !important;
    background: lighten($errorcolor, 25%);
    @include placeholderDarkenColor($errorcolor, 10%);
    &:hover, &:focus, &:active, &:focus:active {
      border-color: darken($errorcolor, 20%) !important;
      color: darken($errorcolor, 20%) !important;
      background: lighten($errorcolor, 20%);
      @include placeholderDarkenColor($errorcolor, 10%);
    }
  }
  &.disabled {
    cursor: not-allowed !important;
    & input {
      border: solid 1px darken($lightgrey, 20%) !important;
      color: darken($lightgrey, 40%) !important;
      background: lighten($lightgrey, 70%);
      @include placeholderDarkenColor($lightgrey, 20%);

      &:hover, &:focus, &:active, &:focus:active {
        border-color: darken($lightgrey, 60%) !important;
        color: darken($lightgrey, 60%) !important;
        background: lighten($lightgrey, 60%);
        @include placeholderDarkenColor($errorcolor, 60%);

      }
    }
  }
}