@import "./../variables";

a.header-link__inverted {
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  color: $secondarycolor1;

  &:hover {
    color: $primarycolor1;
  }
}

a.header-link__default {
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  color: $secondarycolor1;

  &:hover {
    color: $darkgrey;
  }
}

a.header-link__inverted-background {
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  color: $secondarycolor1;

  &:hover {
    color: $primarycolor1;
  }
}