@import "./../variables";
@import "./../mixins";

textarea {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
  @include placeholderDarkenColor($lightgrey, 5%);
  &:hover, &:focus, &:active, &:focus:active {
    border-color: darken($lightgrey, 40%) !important;
    background: lighten($lightgrey, 60%);
    @include placeholderDarkenColor($lightgrey, 20%);

  }

  &.disabled {
    cursor: not-allowed !important;
    & textarea {
      border: solid 1px darken($lightgrey, 20%) !important;
      color: darken($lightgrey, 40%) !important;
      background: lighten($lightgrey, 70%);
      @include placeholderDarkenColor($lightgrey, 20%);

      &:hover, &:focus, &:active, &:focus:active {
        border-color: darken($lightgrey, 60%) !important;
        color: darken($lightgrey, 60%) !important;
        background: lighten($lightgrey, 60%);
        @include placeholderDarkenColor($errorcolor, 60%);

      }
    }
  }
}